#mapid {
  height: 100vh;
}
.watershed-layer {
  stroke: orange;
  stroke-width: 2.5;
  stroke-dasharray: 10, 5;
  fill: none;
  cursor: pointer;
}
.cso-layer {
  stroke: orange;
  stroke-width: 1.5;
  fill: rgba(255,165,0,.15);
  transition: fill .25s;
  pointer-events: auto !important;
  cursor: pointer;
  &.cso-layer--active {
    fill: rgba(255, 165, 0, .5);
  }
}
.cso-layer-circle {
  pointer-events: auto !important;
  stroke: #fff;
  stroke-width: 1.5;
  fill: hsla(0,0%,100%,.5);
  transition: fill .25s;
  cursor: pointer;
  &.cso-layer--active {
    fill: hsla(0, 0%, 100%, .9);
  }
}